body{
    margin: 0px;
    background-color: #FFFFFF;;
}

.wrapper{
   margin: auto 5%;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #161C24;
    margin: 0px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #454F5B;   
}