.third-block{
    display: flex; 
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.third-block>h1{
    margin: 0 0 3% 0;
}

.third-block-info{
    display: flex; 
    flex-direction: column;
    margin-bottom: 40px;
    /* justify-content: space-between;
    align-items: center; */
}

.third-block-info-line{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.third-block-info-item{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    background: rgba(0, 0, 0, 0.02);
    padding: 40px;
    margin:20px
}
.third-block-info-item>img{
    width: 300px;
    padding-bottom: 20px;
}
.item-info-box>p{
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    color: #161C24;
}

.item-info-box{
    display: flex; 
    flex-direction: column;
}
/* .line{
    display: flex; 
    flex-direction: row;
} */
.item-info-box>input{
    width: 220px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.02);
    color: #161C24;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 1px solid #161C24;
}